<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>quacker</string>
	<key>CFBundleIconFile</key>
	<string>quacker.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.quackle.quackle</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>Quackle</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.word-games</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright &copy; 2005-2016 by Jason Katz-Brown & John O'Laughlin</string>
</dict>
</plist>
