.sconsign
.gitattributes
obj
Makefile
Makefile.Debug
Makefile.Release
debug
object_script.*
release
ChangeLog
*.app
*.sublime-workspace
*.xcodeproj
*.exe
*.pfx
*.cer
*.dll
*.vcxproj*
*.*sdf
dawginput.raw
playabilities.raw
smaller.raw
DerivedData
