.sconsign
obj
Makefile
Makefile.Debug
Makefile.Release
debug
object_script.libquackle.Debug
object_script.libquackle.Release
release
ChangeLog
*.app
*.sublime-workspace
*.xcodeproj
*.exe
*.pfx
*.cer
*.dll
dawginput.raw
playabilities.raw
smaller.raw
