.sconsign
.gitattributes
.tags*
.qmake.stash
.vs
build*
obj
Makefile
!emscripten/Makefile
Makefile.Debug
Makefile.Release
debug
object_script.*
release
ChangeLog
Quackle
*.app
*.sublime-workspace
*.xcodeproj
*.exe
*.pdb
*.pfx
*.cer
*.dll
*.vcxproj*
*.*sdf
*.aps
*.suo
*.db
*.dmg
dawginput.raw
playabilities.raw
smaller.raw
DerivedData

.vscode/
emscripten/scriptackle.*
emscripten/tester